<div class="row justify-content-center">
  <div class="col-6">
    <div class="container bg-light mt-2 mb-5">
      <div class="h3 pt-3">Edit Flat</div>
      <%= render 'form', flat: @flat %>
    </div>
  </div>
</div>
